.chess-board {
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 1px solid #000;
}

.square {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    cursor: pointer;
}

.square.white {
    background-color: #fff;
}

.square.black {
    background-color: #666;
}
